*.venv
# the folder titled original_gaussian_splat
*/original_gaussian_splat
point_clouds
360_extra_scenes
360_extra_scenes.zip
*.python-version
*/__pycache__
*.ply
*.zip
flowers
treehill
bicycle
models
.vscode